body {
    background-color: #bfbfbf !important;
}

.texts {
    color: #000000;
    text-indent: 10px;
}

/*#borders {
    border-radius: 45px;
    border: 5px solid #e6e6e6;
}*/

#satauri {
    margin: 5% 30% 2% 30%;
    text-shadow: 1px 1px #FF0000;
    font-size: 35px;
}

#button{
	margin-top: 20%;

}

#username, #email, #password, #passwordagain,  {
    /*border-radius: 30px;*/

}