body {
    background-color: #bfbfbf !important;
}

.texts {
    color: #000000;
    text-indent: 10px;
}

#borders {
    border-radius: 45px;
    border: 5px solid #e6e6e6;
}

#satauri {
    text-shadow: 1px 1px #FF0000;
    font-size: 35px;
}

#username, #email, #password, #passwordagain, #button {
    border-radius: 30px;
}